[Desktop Entry]
Name=GnuGadu 2
Comment=Instant messanger client
Comment[pl]=Wolne Gadanie
Exec=gg2
Icon=gg2.png
Terminal=0
Type=Application
Categories=Application;Network;
# vi: encoding=utf-8
